body {
    color: rgb(168, 124, 29);
    font-family: 'Comforter', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #cccccc;
}

/* .picture {
    background-image: url(/image/44230587-três-filhotes-de-pinguim-imperador-juntos.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: blur;
 } */

 .form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 8px;
 }



.colum-1fr {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;

}

.input-text {
border: 1px solid #26bfd4;
background-color: transparent;
font-size: 1.1rem;
outline: none;
padding: 10px;
}

.text-area {
border: 1px solid #26bfd4;
/* border: 1px solid rgb(252, 214, 0); */
background-color: transparent;
font-size: 1.1rem;
height: 100px;
outline: none;
padding: 10px;

}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn {
    border: none;
    border-radius: 3px;
    background-color: #0099ff;
    height: 50px;
    width: 200px;
}

.btn:hover {
cursor: pointer;
}